SUBSYSTEMS=="usb", ACTION=="add", ATTR{idVendor}=="04b4", ATTR{idProduct}=="1004", OWNER="timetag", GROUP="timetag", MODE="0600", RUN+="/usr/bin/timetag_acquire -d -l /var/log/timetag-acquire.log"
