[Unit]
Description=Data acquisition daemon for FPGA timetagger

[Service]
ExecStart=/usr/bin/timetag_acquire
User=timetag
Group=timetag
CPUSchedulingPolicy=fifo
Restart=on-abort
