[Unit]
Description=Data acquisition daemon for FPGA timetagger
Requires=dev-timetag0.device

[Service]
ExecStart=/usr/bin/timetag_acquire
User=timetag
Group=timetag
CPUSchedulingPolicy=fifo
