[Desktop Entry]
Encoding=UTF-8
Name=Sequencer UI
Comment=Interface for FPGA timetagger's sequencer module
Version=1.0
Type=Application
Terminal=false
Exec=timetag_seq_ui
Icon=timetag_seq_ui.svg
Categories=Utility;Education;Science;Physics;
